<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand" id="marca">DO<span>P T</span>ester</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-show="authentication.user">
        <a ui-sref="home">Documentación</a>
      </li>
      <li ui-sref-active="articles" ng-show="authentication.user">
          <a ui-sref="articles.list">Repositorios</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active" ng-controller="AuthenticationController" id="log_git">
          <button class="" ng-click="callOauthProvider('/api/auth/github')">
            <img ng-src="/modules/users/client/img/buttons/git_blanco.png" width="35">
             Registrate con GitHub
          </button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.username"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="articles">
            <a ui-sref="articles.list">Repositorios</a>
          </li>
          <li>
            <a href="#openModal">Editar email</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Cerrar Sesión</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div id="openModal" class="modalDialog">
	<div ng-controller="EditProfileController">
	  <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" novalidate autocomplete="off">
  		<a href="#close" title="Cerrar" class="close">X</a>
  		<h2>Actualiza tu email</h2>
  		<div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La dirección de email es obligatoria</p>
            <p class="help-block error-text" ng-message="email">Dirección de email no valida.</p>
          </div>
        </div>
  		<div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Guardar email</button>
          <a href="#close" title="Cerrar" class="btn btn-danger">Cerrar</a>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>El email ha sido actualizado</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
	</div>
</div>
