<section ng-controller="HomeController" id="index-content">
    <div ng-hide="authentication.user">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="text">
         bienvenido
      </p>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" ng-controller="AuthenticationController">
      <button class="btn btn-git" ng-click="callOauthProvider('/api/auth/github')">
          <img ng-src="/modules/users/client/img/buttons/git_blanco.png">
           <div class="hidden-sm hidden-xs">
           <span>Registrate</span>
           <span>con GitHub</span>
          </div>
    </button>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="text">
          automatiza el testing de tus aplicaciones y no te preocupes más de lanzar tus pruebas
      </p>
  </div>
  </div>
<section ng-show="authentication.user">
<h1 class="title">Como comenzar</h1>
<ul id="documentacion">
    <li>
        <h4>Paso 1</h4>
        <p>Para comenzar a utilizar la aplicación es importante que tu cuenta de correo este correctamente configurada, de otro modo no podrás recibir las notificaciones de tus test.
        Para configurar tu cuenta de correo <a href="#openModal">pincha aqui</a></p>
    </li>
    <li>
        <h4>Paso 2</h4>
        <p>Para que los test se realicen correctamente es preciso que se encuentren en la raiz de tu repositorio en una carpeta llamada test, como muestra la imagen.</p><img src="img/folder.png">
    </li>
    <li>
        <h4>Paso 3</h4>
        <p>Ahora navega hasta la ventana de tus repositorios, y activa los repositorios haciendo click sobre el botón de activar.</p><img src="img/activate.png">
    </li>
    <li>
        <p>A partir de ahora tus test se ejecutaran cada vez que tu repositorio sufra algún cambio y recibiras un email con los resultados.
        </p>
    </li>
</ul>
 </section>