<section ng-controller="HomeController" id="index-content">
    <div ng-hide="authentication.user">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="text">
          para comenzar
      </p>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" ng-controller="AuthenticationController">
      <button class="btn btn-git" ng-click="callOauthProvider('/api/auth/github')">
          <img ng-src="/modules/users/client/img/buttons/git_blanco.png">
           <div class="hidden-sm hidden-xs">
           <span>Registrate</span>
           <span>con GitHub</span>
          </div>
    </button>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="text">
          automatiza el testing de tus aplicaciones y no te preocupes más de lanzar tus pruebas
      </p>
  </div>
  </div>
<section ng-show="authentication.user">
<h1>Esto es la documentación</h1>
 </section>